<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h2>Baza formularz</h2>

        <!--wgrywanie gotowego pliku-->
    <form action = "/upload-json" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
    </form>

    <hr> <!--tis a line-->

    <!--pomysl by ladnie posortowac kolejnosc... choc idk czy json bedzie do csv podobny-->
    <form action="/send-data" method = "POST">
        <!--kalkulator?-->
        <label for="BMI">Your BMI:</label><br>
        <input type="number" id="BMI" name="BMI"><br>

        <label for="Smoking">Have you smoked at least 100 cigarettes in your life?</label><br>
        <input type="radio" id="smoking_Yes" name="Smoking" value=1> <!--1 - pali, 0 - nie pali-->
        <label for="smoking_Yes">Yes</label><br>
        <input type="radio" id="smoking_No" name="Smoking" value=0>
        <label for="smoking_No">No</label><br>

        <label for="drinking">Do you drink a lot? (Men - 14 drinks a week, Women - 7 drinks a week)</label><br>
        <input type="radio" id="drinking_Yes" name="drinking" value=1>
        <label for="drinking_Yes">Yes</label><br>
        <input type="radio" id="drinking_No" name="drinking" value=0>
        <label for="drinking_No">No</label><br>

        <label for="Stroke">Do you ever had a stroke?</label><br>
        <input type="radio" id="stroke_Yes" name="Stroke" value=1>
        <label for="stroke_Yes">Yes</label><br>
        <input type="radio" id="stroke_No" name="Stroke" value=0>
        <label for="stroke_No">No</label><br>

        <label for="physical_wellness">In past 30 days, how many of them you werent feeling well physically?</label><br>
        <input type="number" id="physical_wellness" name="physical_wellness" min="0" max="30"><br>

        <label for="mental_wellness">In past 30 days, how many of them you werent feeling well mentally?</label><br>
        <input type="number" id="mental_wellness" name="mental_wellness" min="0" max="30"><br>

        <label for="diff_walking">Do you have difficulty walking?</label><br>
        <input type="radio" id="diff_walking_Yes" name="diff_walking" value=1>
        <label for="diff_walking_Yes">Yes</label><br>
        <input type="radio" id="diff_walking_No" name="diff_walking" value=0>
        <label for="diff_walking_No">No</label><br>

        <label for="sex">Are you male or female?</label><br>
        <input type="radio" id="male" name="sex" value=1>
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="sex" value=0>
        <label for="female">Female</label><br>

        <label for="age_category">Whats your age category?</label><br>
        <input type="radio" id="18-24" name="age_category" value=0>
        <label for="18-24">18-24</label><br>
        <input type="radio" id="25-29" name="age_category" value=1>
        <label for="25-29">25-29</label><br>
        <input type="radio" id="30-34" name="age_category" value=2>
        <label for="30-34">30-34</label><br>
        <input type="radio" id="35-39" name="age_category" value=3>
        <label for="35-39">35-39</label><br>
        <input type="radio" id="40-44" name="age_category" value=4>
        <label for="40-44">40-44</label><br>
        <input type="radio" id="45-49" name="age_category" value=5>
        <label for="45-49">45-49</label><br>
        <input type="radio" id="50-54" name="age_category" value=6>
        <label for="50-54">50-54</label><br>
        <input type="radio" id="55-59" name="age_category" value=7>
        <label for="55-59">55-59</label><br>
        <input type="radio" id="60-64" name="age_category" value=8>
        <label for="60-64">60-64</label><br>
        <input type="radio" id="65-69" name="age_category" value=9>
        <label for="65-69">65-69</label><br>
        <input type="radio" id="70-74" name="age_category" value=10>
        <label for="70-74">70-74</label><br>
        <input type="radio" id="75-79" name="age_category" value=11>
        <label for="75-79">75-79</label><br>
        <input type="radio" id="80 or older" name="age_category" value=12>
        <label for="80 or older">80 or older</label><br>

        <label for="race">Whats your race?</label><br>
        <input type="radio" id="white" name="race" value=0>
        <label for="white">white</label><br>
        <input type="radio" id="american" name="race" value=1>
        <label for="american">american</label><br>
        <input type="radio" id="asian" name="race" value=2>
        <label for="asian">asian</label><br>
        <input type="radio" id="black" name="race" value=3>
        <label for="black">black</label><br>
        <input type="radio" id="hispanic" name="race" value=4>
        <label for="hispanic">hispanic</label><br>
        <input type="radio" id="other" name="race" value=5>
        <label for="other">other</label><br>


        <!--dodaj: Diabetic, PhysicalActivity, GenHealth, SleepTime, Asthma, KidneyDisease, SkinCancer -->

        <input type="submit" value="Submit">

    </form>

    <hr> <!--tis a line-->

</body>
</html>